@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.modal-outer {
    all: unset;
    background-color: rgba(0,0,0,0.7);
    height: 100%;
    overflow: auto;
    position: fixed;
    width: 100%;
    z-index: 9998;
}

.modal-outer > .modal {
    all: unset;
	  box-sizing: border-box;
    background: #191912;
    border-radius: 10px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.2);
    font-family: 'Open Sans', sans-serif;
    left: 50%;
    overflow: hidden;
    padding: 20px;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    width: 100%;
    z-index: 9999;
}

.modal-outer > .modal > .text {
    all: unset;
    color: #d4d4d4;
    font-size: 30px;
    line-height: normal;
    text-align: center;
}

.modal-outer > .modal > .buttons {
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
}

.modal-outer > .modal > .buttons > .reject-button {
    all: unset;
    background-color: #F64747;
    border: none;
    color: #3D1410;
    cursor: pointer;
    font-size: 25px;
    line-height: normal;
    margin-left: 20%;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    width: auto;
}

.modal-outer > .modal > .buttons > .reject-button:hover {
    background-color: #C93E3E;
}

.modal-outer > .modal > .buttons > .accept-button {
    all: unset;
    background-color: #3CF73C;
    border: none;
    color: #002A15;
    cursor:pointer;
    font-size: 25px;
    line-height: normal;
    margin-right: 20%;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    width: auto;
}

.modal-outer > .modal > .buttons > .accept-button:hover {
    background-color: #27B827;
}

@media screen and (min-width: 500px) {
	.modal-outer > .modal {
		width: 500px;
	}
}
